
body{
	padding-top: 50px;

}

.carousel{
	position: relative;
	margin-top:-15px; 
	height: 500px;
	background-color: #000;
}

.carousel .item{
	height: 500px;
	background-color: #000;
}

.carousel img{
	width: 100%;
}